@model IEnumerable<proekt1.Models.Plane>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlaneID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxSeats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxBusinessSeats)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlaneID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxSeats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxBusinessSeats)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.PlaneID">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
