@model proekt1.Models.Flight
<style>
    body {
        background-color: #fff1d5;
    }
</style>
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Flight</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PilotName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PilotName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Plane)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Plane.PlaneID)
        </dd>
        @* promqna *@
        @if(User.IsInRole("admin")||User.IsInRole("employee"))
        {
            <dt class="col-sm-2">
                Reservations
            </dt>
            @if (Model.Reservations.Count != 0)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Middle Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>EGN</th>
                            <th>Phone</th>
                            <th>Ticket Type</th>
                            @* 
                        <th>
                            @Html.DisplayNameFor(model => model.Flight)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.User)
                        </th> *@
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>

                        @foreach (var item in Model.Reservations)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MiddleName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EGN)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Phone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TicketType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Flight.EndLocation)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.User.Id)
                                </td>
                                <td>
                                    <a asp-controller="Reservations" asp-action="Edit" asp-route-id="@item.ReservationID">Edit</a> |
                                    <a asp-controller="Reservations" asp-action="Details" asp-route-id="@item.ReservationID">Details</a> |
                                    <a asp-controller="Reservations" asp-action="Delete" asp-route-id="@item.ReservationID">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <th>There are no reservations</th>
            }
            
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FlightID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
