@model IEnumerable<proekt1.Models.Flight>
<style>
    body {
        background-color: #fff1d5;
    }
</style>
@{
    ViewData["Title"] = "Index";
}

@if(User.IsInRole("admin"))
{
    <h1>Index</h1>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<h4>Available flights</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PilotName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plane)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            @if(item.StartDateTime >= DateTime.Now)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartLocation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndLocation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PilotName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Plane.PlaneID)
                    </td>
                    @if(User.IsInRole("admin")||User.IsInRole("employee"))
                    {
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.FlightID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.FlightID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.FlightID">Delete</a> |
                            @* promqna *@
                            <a asp-area="" asp-controller="Reservations" asp-action="Create" asp-route-FlightID="@item.FlightID">Reserve</a>
                        </td>
                    }
                    else
                    {
                        <td>
                            <a asp-action="Details" asp-route-id="@item.FlightID">Details</a> |
                            @* promqna *@
                            <a asp-area="" asp-controller="Reservations" asp-action="Create" asp-route-FlightID="@item.FlightID">Reserve</a>
                        </td>
                    }
                    
                </tr>
    }
        
}
    </tbody>
</table>
@if(User.IsInRole("emaployee") || User.IsInRole("admin"))
{
    <h4>Past flights</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StartLocation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndLocation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartDateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndDateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PilotName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Plane)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                @if (item.StartDateTime < DateTime.Now)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartLocation)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndLocation)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDateTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndDateTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PilotName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Plane.PlaneID)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.FlightID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.FlightID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.FlightID">Delete</a> |
                            @* promqna *@
                            <a asp-area="" asp-controller="Reservations" asp-action="Create" asp-route-FlightID="@item.FlightID">Reserve</a>
                        </td>
                    </tr>
                }

            }
        </tbody>
    </table>
}
